[submodule "generative_chestxray"]
	path = conference-turorials/generative_chestxray
	url = https://github.com/Warvito/generative_chestxray.git
[submodule "ISBI-2024-DiMEDIA-MONAI-Tutorial"]
	path = conference-turorials/ISBI-2024-DiMEDIA-MONAI-Tutorial
	url = https://github.com/vios-s/ISBI-2024-DiMEDIA-MONAI-Tutorial.git
[submodule "fastapi-plotly-dash"]
	path = fastapi-plotly-dash
	url = https://github.com/rusnyder/fastapi-plotly-dash.git
[submodule "medical-imaging/mriqc"]
	path = medical-imaging/mriqc
	url = https://github.com/nipreps/mriqc.git
[submodule "medical-imaging/tiger"]
	path = medical-imaging/tiger
	url = https://github.com/DIAGNijmegen/Tiger.git
[submodule "medical-imaging/mids"]
	path = medical-imaging/mids
	url = https://github.com/jomasator2/MIDS.git
[submodule "conference-tutorials/federated-learning"]
	path = conference-tutorials/federated-learning
	url = https://github.com/CollaborativeFederatedLearningTutorials/website.git
